/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Encabezado */
header {
    
    background-color: #005b96;
    color: white;
    padding: 0px 0;
    text-align: center;
    position: sticky;
    top: 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Secciones */
.section {
    padding: 50px;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
}

.section h2 {
    color: #005b96;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Formulario de contacto */
form {
    max-width: 600px;
    margin: 0 auto;
}

form label, form input, form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #005b96;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003f6b;
}

/* Pie de página */
footer {
    text-align: center; /* Centra todo el contenido del pie de página */
    padding: 20px;
    background-color: #f4f4f4; /* Color de fondo opcional */
}

footer p {
    margin: 10px 0; /* Espacio entre los párrafos */
}

footer a {
    text-decoration: none;
    color: #007bff; /* Color de los enlaces */
    margin: 0 10px; /* Espacio entre los enlaces */
}

footer a:hover {
    text-decoration: underline; /* Efecto al pasar el mouse por el enlace */
}
